        <h2>Wspieramy polski biznes! Oto nasi przyjaciele:</h2>

        <div class="section">
            <p><strong>1 RADZIEMSKA</strong></p>
            <p>Rodzime przedsiębiorstwo chemiczne powstałe w 1982 roku. Firma specjalizuje się w produkcji chemii gospodarczej, w tym odplamiaczy, proszków do prania czy wybielaczy. Jest laureatem wielu nagród konsumenckich, a jej siedziba znajduje się w Łomiankach pod Warszawą.
</p>
        </div>

        <div class="section">
            <p><strong>2 Woda Staropolska</strong></p>
             <p>Polski producent wody mineralnej pochodzący z Iłży. Jest to firma rodzinna o ponad 30-letniej tradycji, która specjalizuje się w produkcji bogatych w magnez i wapń wód mineralnych pod marką „Staropolska”. Od 1986 r. przedsiębiorstwo realizuje swoją misję, stając się w ostatnim czasie liderem wśród producentów i dostawców butelkowanej wody mineralnej przeznaczonej dla firm.
</p>
            <p><strong>Jak rozpoznać polską firmę?</strong></p>
            <p>Można to ustalić weryfikując kilka czynników. Nasz program kierowany jest do przedsiębiorstw, które spełniają poniższe kryteria:
            
                <ul>
                    <li>są zarejestrowane w Polsce;</li>
                    <li>posiadają 100% polskiego kapitału;</li>
                    <li>prowadzą produkcję na terenie naszego kraju;</li>
                    <li>tworzą wykwalifikowane miejsca pracy;</li>
                    <li>nie są częścią zagranicznego koncernu.</li>
                </ul>
            </p>
            <p>Ponadto przedsiębiorstwo musi charakteryzować się nieposzlakowaną opinią na swój temat oraz aktywnie angażować się w działania podejmowane na rzecz promocji patriotyzmu gospodarczego w Polsce.
            </p>
            <p><strong>Czym jest Klub Przyjaciół Poli?</strong></p>
              
<p>Głównym celem Klubu Przyjaciół Poli jest promocja oraz wsparcie polskich przedsiębiorstw. Będzie to możliwe dzięki stworzeniu silnego środowiska społeczno-biznesowego, które poprzez kooperację i wspólne działania przyczyni się do popularyzacji mody na patriotyzm gospodarczy.
</p>
        </div>

        <div class="section">
            <p><strong>Co zyskuje Przyjaciel Poli?</strong></p>
            <p>
                <ol type="a">
                    <li>
                        <strong>Znak Towarowy Polski produkt - 100 pkt Pola</strong>
                        <p>Dwa lata od powstania aplikacji <strong>Pola. Zabierz ją na zakupy</strong>, która zgromadziła ponad <strong>420 tysięcy użytkowników</strong>, postanowiliśmy wprowadzić własne oznaczenie <strong>Polski produkt - 100 pkt Pola</strong> przeznaczone wyłącznie dla produktów, które uzyskały w naszym algorytmie maksymalny wynik 100 punktów. Będzie to tym samym pierwszy znak towarowy, którego pojawienie się na etykiecie jest poparte merytoryczną analizą danego przedsiębiorstwa.</p>
                        <p>Głównym powodem rozszerzenia naszej działalności są doświadczenia związane z oznaczeniami funkcjonującymi na polskim rynku spożywczym. W większości przypadków w sposób jednoznaczny sugerują one polskie pochodzenie produktów, chociaż po zweryfikowaniu ich producentów okazuje się, że są własnością zagranicznych podmiotów. Znak <strong>Polski produkt - 100 pkt Pola</strong> jest naszą odpowiedzią, która w formie prostego graficznego przekazu umożliwi szybką weryfikację produktu, co będzie szczególnie ważne dla osób niekorzystających z urządzeń mobilnych.</p>
                    </li>
                    <li>
                        <strong>Aplikacja Pola. Zabierz ją na zakupy</strong>
                        <p>Oprócz samego znaku towarowego status Przyjaciela Poli będzie jednoznaczny z aktywnym partycypowaniem w rozwoju aplikacji <strong>Pola. Zabierz ja na zakupy</strong>. W specjalnych zakładkach w aplikacji oraz na naszej stronie internetowej każdy konsument będzie mógł poznać historię oraz profil działalności wszystkich współpracujących z Klubem Jagiellońskim przedsiębiorstw. Dodatkowo po zeskanowaniu produktu należącego do Przyjaciela Poli użytkownik zostanie poinformowany o jego specjalnym statusie.</p>
                    </li>
                    <li>
                        <strong>Działalność promocyjna oraz społeczna</strong>
                        <p>Wszyscy Przyjaciele Poli mają możliwość aktywnego udziału w prowadzonych przez nas kampaniach społecznych oraz internetowych, mających na celu popularyzację polskich firm wśród obywateli.</p>
                    </li>
                </ul>
            </p>
        </div>
        
        <div class="section">
            <p><strong>Chcesz do nas dołączyć?</strong></p>
            <p>Wszystkie przedsiębiorstwa zainteresowane dołączeniem do grona Przyjaciół Poli zachęcamy do kontaktu z Mateuszem Perowiczem (tel. 660 010 034, e-mail: mateusz.perowicz@klubjagiellonski.pl), który odpowiada za rozwój projektu.
</p>
        </div>
