{% extends "base-landing.html" %}

{% block content %}
<h1>We are awesome!</h1>
You know it!
<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus impedit tenetur eum blanditiis aperiam consectetur soluta saepe. Repellendus sit minus voluptates, atque neque. Fugit veniam ipsa, quis maxime cupiditate voluptate.</p>
    </div>
    <div class="col-md-4">
        <h2>Aliquam, reiciendis.</h2>
        <p>Eaque, veniam sed dicta molestias. Corrupti aut exercitationem dolorum. Dicta quod natus obcaecati similique delectus, pariatur quis hic officia. Nisi hic illum, iste quod nam cupiditate. Consectetur laudantium blanditiis, aperiam.</p>
    </div>
    <div class="col-md-4">
        <h2>Labore, recusandae.</h2>
        <p>Illo ipsam, quis, consequuntur molestias ab exercitationem id, vitae quae, neque ratione labore? Iusto dicta adipisci dolorum pariatur ratione corporis! Nihil quaerat possimus dignissimos ad delectus, vero consectetur numquam rem.</p>
    </div>
</div>
{% endblock content %}
