{% extends "base.html" %}

{% block content %}
<h1>Fight!</h1>
We need your help!
<div class="row">
    <div class="col-md-6">
        <h2>Lorem ipsum.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloremque, debitis veniam voluptate odio earum, vero quam blanditiis fugiat possimus! Quos voluptas sint neque perspiciatis commodi et magnam animi provident.</p>
        <p>Voluptate perspiciatis odio nihil sequi reprehenderit beatae non a! Odio consequatur facere repellendus, et reprehenderit exercitationem animi, eaque qui ullam maiores aperiam. Debitis omnis nulla, odio reprehenderit ut minima excepturi.</p>
    </div>
    <div class="col-md-6">
        <h2>Quidem, eos!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, ad sunt quos nostrum totam. Porro quaerat harum praesentium assumenda consequuntur magnam perspiciatis, similique laboriosam repellat dicta nemo accusantium iusto facilis.</p>
        <p>Ratione non doloribus aut est, autem. Ullam autem laboriosam expedita reprehenderit fuga sint itaque accusamus. Accusantium minus pariatur sint hic quidem eveniet, blanditiis, quis, id natus perspiciatis in amet tempora.</p>
    </div>
</div>
{% endblock content %}
