{% extends "base.html" %}

{% block content %}
<h1>{% trans "Fight!" %}</h1>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Oldest reports" %}</h3>
            </div>
            {% for report in  oldest_reports %}
                <li class="list-group-item">
                    <a href="{{ report.get_absolute_url }}">{{ report }} </a>
                </li>
            {% endfor %}
            <div class="panel-footer">
                <a href="{% url 'report:list' %}?status=open&o=-created_at">{% trans "More" %}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Newest reports" %}</h3>
            </div>
            {% for report in  newest_reports %}
                <li class="list-group-item">
                    <a href="{{ report.get_absolute_url }}">{{ report }} </a>
                </li>
            {% endfor %}
            <div class="panel-footer">
                <a href="{% url 'report:list' %}?status=open&o=created_at">{% trans "More" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Most popular products" %}</h3>
            </div>
            <ul class="list-group">
            {% for product in  most_popular_products %}
                <li class="list-group-item">
                    <a href="{{ product.get_absolute_url }}">{{ product }} </a>
                </li>
            {% endfor %}
            </ul>
            <div class="panel-footer">
                <a href="{% url 'product:list' %}?o=-query_count">{% trans "More" %}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Most popular companies" %}</h3>
            </div>
            <ul class="list-group">
            {% for company in  most_popular_companies %}
                <li class="list-group-item">
                    <a href="{{ company.get_absolute_url }}">{{ company }} </a>
                </li>
            {% endfor %}
            </ul>
            <div class="panel-footer">
                <a href="{% url 'company:list' %}?o=-query_count">{% trans "More" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
