---
version: 2
updates:
  - package-ecosystem: pip
    labels:
      - "dependencies"
      - "automerge"
    directory: "/"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 40

  - package-ecosystem: "github-actions"
    labels:
      - "dependencies"
      - "automerge"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    labels:
      - "dependencies"
      - "automerge"
    directory: "/scripts/ci-docker-image"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    labels:
      - "dependencies"
      - "automerge"
    directory: "/scripts/bi-docker-image"
    schedule:
      interval: "daily"
