SLACK_TOKEN=SLACK_TOKEN
POLA_APP_GET_RESPONSE_API_TOKEN=API_TOKEN
POLA_APP_GET_RESPONSE_CAMPAIGN_ID=CAMPAIGN_ID
POLA_APP_PRODUKTY_W_SIECI_API_TOKEN=API_TOKEN
POLA_APP_GCS_PUBLIC_BUCKET_NAME=pola-app-public
POLA_APP_GCS_BACKEND_BUCKET_NAME=pola-app-backend
POLA_APP_GCS_AI_PICS_BUCKET_NAME=pola-app-ai-pics
POLA_APP_GCS_WEB_BUCKET_NAME=pola-web-public
POLA_APP_GCS_COMPANY_LOGOTYPE_BUCKET_NAME=pola-app-company-logotype
POLA_APP_GCS_PUBLIC_BASE_URL=https://storage.googleapis.com
USE_GCS_STORAGE=True
