{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Do pracy. Użytkownicy czekają :)" %}</h1>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Najstarsze zgłoszenia" %}</h3>
            </div>
            {% for report in  oldest_reports %}
                <li class="list-group-item">
                    <a href="{{ report.get_absolute_url }}">{{ report }}, <small>{{ report.get_timedelta}} {% trans "temu" %}</small></a>
                </li>
            {% endfor %}
            <div class="panel-footer">
                <a href="{% url 'report:list' %}?status=open&o=created_at">{% trans "Więcej" %}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Najnowsze zgłoszenia" %}</h3>
            </div>
            {% for report in  newest_reports %}
                <li class="list-group-item">
                    <a href="{{ report.get_absolute_url }}">{{ report }}, <small>{{ report.get_timedelta}} {% trans "temu" %}</small></a>
                </li>
            {% endfor %}
            <div class="panel-footer">
                <a href="{% url 'report:list' %}?status=open&o=-created_at">{% trans "Więcej" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Najpopularniejsze produkty bez firmy" %}</h3>
            </div>
            <ul class="list-group">
            {% for product in  most_popular_products %}
                <li class="list-group-item">
                    <a href="{{ product.get_absolute_url }}">{{ product }} </a>
                </li>
            {% endfor %}
            </ul>
            <div class="panel-footer">
                <a href="{% url 'product:list' %}?o=-query_count">{% trans "Więcej" %}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Najpopularniejsi niezweryfikowani producenci" %}</h3>
            </div>
            <ul class="list-group">
            {% for company in  most_popular_companies %}
                <li class="list-group-item">
                    <a href="{{ company.get_absolute_url }}">{{ company }} </a>
                </li>
            {% endfor %}
            </ul>
            <div class="panel-footer">
                <a href="{% url 'company:list' %}?verified=3&o=-query_count">{% trans "More" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
