{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Zdjęcia AI" %}</h1><br/>

    <div>
        {% if is_valid == None %}<strong>Niezweryfikowane</strong>{% else %}<a href="?">Niezweryfikowane</a>{% endif %} |
        {% if is_valid == 1 %}<strong>OK</strong>{% else %}<a href="?is_valid=1">OK</a>{% endif %} |
        {% if is_valid == 0 %}<strong>Nie OK</strong>{% else %}<a href="?is_valid=0">Nie OK</a>{% endif %}
    </div>

	<div class="panel panel-primary">
        <ul class="list-group">
        {% for aipic in  aipics %}
            <li class="list-group-item">
                <div style="clear:both;"><strong>{{ aipic.product.name }}</strong></div>
                <div><small>{% trans "Wysłane " %}{{ aipic.get_timedelta}} {% trans "temu z " %}{{ aipic.device_name }}</small></div>
                    {% if aipic.is_valid != True %}
                    <form style="display:inline" action="" method="POST">
                      {% csrf_token %}
                    <button type="submit" name="set_aipic_valid" value="{{ aipic.id }}">{% trans "OK" %}</button>
                    </form>
                    {% endif %}
                    {% if aipic.is_valid != False %}
                    <form style="display:inline" action="" method="POST">
                      {% csrf_token %}
                    <button type="submit" name="set_aipic_not_valid" value="{{ aipic.id }}">{% trans "Nie OK" %}</button>
                    </form>
                    {% endif %}
                    {% if aipic.is_valid != None %}
                    <form style="display:inline" action="" method="POST">
                      {% csrf_token %}
                    <button type="submit" name="set_aipic_unverified" value="{{ aipic.id }}">{% trans "?" %}</button>
                    </form>
                    {% endif %}
                    <form style="display:inline" action="" method="POST">
                      {% csrf_token %}
                    <button type="submit" name="delete_aipic" value="{{ aipic.id }}">{% trans "Usuń" %}</button>
                    </form>
                <div style="overflow: hidden;">
                {% for attachment in aipic.aiattachment_set.all %}
                    <div style="position: relative;float:left;height: 100%">
                    <img style="width:300px" src="{{ attachment.get_absolute_url }}">
                    <form action="" method="POST" style="position:absolute; right: 0; top:0; z-index:10;">
                      {% csrf_token %}
                    <button type="submit" name="delete_attachment" value="{{ attachment.id }}">{% trans "Usuń" %}</button>
                    </form>
                    </div>
                {% endfor %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock content %}
