{%extends 'company/base.html' %}

{% load crispy_forms_tags i18n %}

{% block breadcrumbs_rows %}
    {% if object %}
        {% if object.company %}
            <li><a href="{{ object.company.get_absolute_url }}">{{ object.company }}</a></li>
        {% endif %}
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="active">{% trans 'Zmień' %}</li>
    {% else %}
        <li class="active">{% trans 'Dodaj' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock content %}


{% block javascript %}
    {{ form.media }}
{% endblock javascript %}
