$brand-primary: green;
$navbar-height: 80px;
$navbar-border-radius: 0px;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$navbar-default-color: white;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: $navbar-default-color;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);

@import 'bootstrap';
@import 'font-awesome';

.form-group .autocomplete-light-widget {
	width: 100%;
}
