{%extends 'company/base.html' %}

{% load crispy_forms_tags i18n %}

{% block breadcrumbs_rows %}
    {% if object %}
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="active">{% trans 'Zmień' %}</li>
    {% else %}
        <li class="active">{% trans 'Dodaj' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock content %}

{% block javascript %}
    {% if not form.instance.description  %}
    <script>
    $( document ).ready(function() {
        $('#div_id_description label').after("<a href='#' onClick ='copy_desc(event);'>Kopiuj</a>")
    });

    function copy_desc(event)
    {
        event.preventDefault();
        $('#div_id_description textarea').text(
                '{{ form.instance.js_plCapital_notes }}\n'+
                '{{ form.instance.js_plWorkers_notes }}\n'+
                '{{ form.instance.js_plRnD_notes }}\n'+
                '{{ form.instance.js_plRegistered_notes }}\n'+
                '{{ form.instance.js_plNotGlobEnt_notes }}'
        )
        $('#div_id_commit_desc textarea').text('Nowy opis firmy na podstawie opisów w poprzednim formacie')
    }
    </script>
    {%  endif %}
{% endblock %}
