{%extends 'company/base.html' %}
{% load i18n %}
{% block breadcrumbs_rows %}
    <li class="active"><a href="{{ obj.get_absolute_url }}">{{ object }}</a></li>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="btn-group">
        <a href="{% url 'company:delete' object.pk %}" class="btn btn-primary"><i class="fa fa-trash"></i> {% trans "Delete" %}</a>
        <a href="{% url 'company:edit' object.pk %}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
    </div>
{% endif %}
<h1>{{ object }}  <small>#{{ object.pk }}</small></h1>
<div class="panel panel-primary">
	<div class="panel-heading">{% trans "Data metric" %}</div>
	<table class="table">
        {% for field in fields %}
		<tr>
            <td>{{ field.name }}</td><td>{{ field.value }}</td>
		</tr>
        {% endfor %}
	</table>
</div>
<ul>
	{% for product in object.product_set.all %}
	<li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
	{% empty%}
	<li>{% trans "Nothing" %}</li>
	{% endfor %}
</ul>
{% endblock content %}
