{%extends 'company/base.html' %}
{% load i18n %}

{% block breadcrumbs_rows %}
    <li class="active"><a href="{{ obj.get_absolute_url }}">{{ object }}</a></li>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="btn-group">
        {% if perms.company.delete_company %}
            <a href="{% url 'company:delete' object.pk %}" class="btn btn-primary"><i class="fa fa-trash"></i> {% trans "Usuń" %}</a>
        {% endif %}
        {% if perms.company.change_company %}
            <a href="{% url 'company:edit' object.pk %}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Zmień" %}</a>
        {% endif %}
    </div>
{% endif %}
<h1>
    {% if object.locked_by %}<i class="fa fa-lock" title="Edytowane przez: {{ object.locked_by }}"></i>{% endif %}
    {{ object }}  <small>#{{ object.pk }}</small>
</h1>
<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">{% trans "Data metric" %}</div>
            <table class="table">
                {% for field in fields %}
                <tr>
                    <td>{{ field.name }}</td><td>{{ field.value|linebreaksbr }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a class="btn btn-xs btn-info" href="{% url "company:brand-list" %}?company={{ object.pk }}" title="Pokaż">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn btn-xs btn-info" href="{% url "company:brand-create" %}?company={{ object.pk }}" title="Dodaj">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

                <h3 class="panel-title">Marki</h3>
            </div>

            {% if brand_list %}
            <ul class="list-group">
                {% for brand in brand_list %}
                <li class="list-group-item"><a href="{{ brand.get_absolute_url }}">{{ brand }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="panel-body">
                {% trans "Nie ma żadnych marek" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    {% if perms.product.view_product %}
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Produkowane produkty</h3>
                </div>
                <ul class="list-group">
                    {% for product in object.product_set.all %}
                        <li class="list-group-item">
                            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                        </li>
                    {% empty%}
                        <li class="list-group-item">{% trans "Nie ma żadnych produktów" %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if perms.report.view_report %}
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a class="btn btn-xs btn-info pull-right" href="/cms/report/advanced/?status=open&product__company={{ object.pk }}">Pokaż wszystkie</a>
                    <h3 class="panel-title">Zgłoszenia powiązane przez produkty</h3>
                </div>
                {% if report_list %}
                    <ul class="list-group">
                        {% for report in report_list %}
                        <li class="list-group-item"><a href="{{ report.get_absolute_url }}">{{ report }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="panel-body">
                        {% trans "Nie ma żadnych zgłoszeń" %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

</div>
{% endblock content %}
