interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.eprodukty.gs1.pl/external_api/v2/products/5900049011829?include_local_data=true
    response:
      body:
        string: |
          {"gtinNumber":"05900049011829","gtinStatus":"active","name":"MALMA makar PENNE 12szt*500g TOR","targetMarket":["EU"],"netContent":["500 g (gram)"],"imageUrls":[],"description":"","descriptionLanguage":"pl","productPage":null,"isPublic":true,"isVerified":true,"lastModified":"2025-05-07T09:01:39.931747Z","brand":"MALMA","company":{"name":"MASPEX FOOD SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ","nip":"5512640426","street":"ul. Chopina 10","city":"Wadowice, PL","postalCode":"34-100","webPage":"https://maspex.com/"},"gpc":[{"code":"10006219","text":"Makarony/Kluski - opakowania mix"}],"isComplete":false,"gs1Licence":{"licenseeGLN":"5903590000014","licensingMO":{"moName":"GS1 Poland"}}}
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Language:
          - en
        Content-Type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
version: 1
