interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.eprodukty.gs1.pl/external_api/v1/products/?gtin_number__prefix=05900049011829
    response:
      body:
        string: |
          {"count":1,"next":null,"previous":null,"facets":{},"results":[{"id":"8eba0309-951a-48a9-8a7a-c6c80182bcab","gtinNumber":"05900049011829","name":"MALMA makar PENNE 12szt*500g TOR","targetMarket":["EU"],"netContent":"500.0g","imageUrls":[],"description":"","descriptionLanguage":"en","productPage":null,"isPublic":true,"isVerified":false,"lastModified":"2020-04-01T00:00:00+00:00","brand":"MALMA","company":{"name":"PZZ Lubella GMW Sp. z o.o. Sp.k.","nip":"5472147612","street":"ul. Wrotkowska 1","webPage":"https://lubella.pl/","city":"Lublin","postalCode":"20-469"},"gpc":"10006219"}]}
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Language:
          - pl
        Content-Type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
version: 1
