{%extends 'product/base.html' %}
{% load staticfiles %}
{% load i18n crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="btn-group">
            <a href="{% url 'product:create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Dodaj" %}</a>
        </div>
    {% endif %}
    <h1>{% trans "Produkt" %}</h1>
    <div class="row">
        <div class="col-md-3">
            {% crispy filter.form %}
        </div>
        <div class="col-md-9">
            <ul>
            {% for obj in object_list %}
                <li>
                    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a> ({{ obj.query_count }})
                    {% if obj.locked_by %}<img src="{%  static "images/lock.png" %}" title="Edytowane przez: {{ obj.locked_by }}"/>{% endif %}
                </li>
            {% empty %}
                <li>{% trans "Nic nie znaleziono" %}</li>
            {% endfor %}
            </ul>
            {% include 'pagination_custom/pager.html' with page=page_obj %}
        </div>
    </div>
{% endblock content %}
