asgiref==3.8.1
attrs==25.3.0
babel==2.17.0
boto==2.49.0
boto3==1.38.14
botocore==1.38.14
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.0
Collectfast==2.2.0
cryptography==44.0.3
defusedxml==0.7.1
Django==5.1.8
django-allauth==0.55.2
django-anymail==13.0
django-autocomplete-light==3.11.0
django-autoslug==1.9.9
django-braces==1.17.0
django-cors-headers==4.7.0
django-crispy-forms==1.14.0
django-environ==0.12.0
django-filter==25.1
django-grappelli==4.0.2
django-model-utils==5.0.0
django-ratelimit==4.1.0
django-redis-cache==3.0.1
django-resized==1.0.3
django-reversion==5.1.0
django-storages==1.14.6
freetype-py==2.3.0
gtin==1.3.1649173518
gunicorn==23.0.0
idna==3.10
isodate==0.6.1
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2025.4.1
lazy-object-proxy==1.11.0
MarkupSafe==3.0.2
more-itertools==10.7.0
oauthlib==3.2.2
openapi-core==0.19.5
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.1
packaging==25.0
parse==1.20.2
pathable==0.4.4
Pillow==10.1.0
psycopg2-binary==2.9.10
pycairo==1.28.0
pycparser==2.22
pydantic==1.10.9
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
PyYAML==6.0.1
redis==3.5.3
referencing==0.36.2
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rlPyCairo==0.3.0
rpds-py==0.24.0
rq==1.16.1
s3transfer==0.12.0
sentry-sdk==2.27.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==1.26.15
Werkzeug==3.1.1
