annotated-types==0.8.0
asgiref==3.12.1
asttokens==3.0.2
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.15.0
boto3==1.43.54
botocore==1.43.54
certifi==2026.7.22
cffi==2.1.0
chardet==7.4.3
charset-normalizer==3.4.9
click==8.4.2
Collectfast==2.2.0
coverage==7.15.2
cryptography==50.0.0
decorator==5.3.1
defusedxml==0.7.1
django-allauth==0.55.2
django-anymail==15.1
django-autocomplete-light==3.12.1
django-autoslug==1.9.9
django-braces==1.17.0
django-cors-headers==4.9.0
django-coverage-plugin==3.1.0
django-crispy-forms==1.14.0
django-debug-toolbar==6.3.0
django-environ==0.14.0
django-filter==26.1
django-grappelli==4.0.3
django-model-utils==5.0.0
django-ratelimit==4.1.0
django-resized==1.0.3
django-reversion==6.3.0
django-storages==1.14.6
django-test-plus==2.6.2
django-webtest==1.9.14
execnet==2.1.2
executing==2.2.1
factory_boy==3.3.3
Faker==40.36.0
freetype-py==2.3.0
gtin==1.3.1649173518
gunicorn==26.0.0
idna==3.18
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.16.0
ipython_pygments_lexers==1.1.1
isodate==0.6.1
jedi==0.20.0
jmespath==1.1.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
legacy-cgi==2.6.4
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
more-itertools==10.8.0
multidict==6.7.1
oauthlib==3.3.1
openapi-core==0.20.0
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
packaging==26.2
parameterized==0.9.0
parse==1.22.1
parso==0.8.7
pathable==0.4.4
pexpect==4.9.0
pillow==12.3.0
pluggy==1.6.0
prompt_toolkit==3.0.53
propcache==0.5.2
psutil==7.2.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2026.3.post1
PyYAML==6.0.3
redis==5.2.1
referencing==0.36.2
reportlab==4.3.1
requests==2.34.2
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rlPyCairo==0.4.0
rpds-py==2026.6.3
rq==1.16.1
s3transfer==0.19.2
sentry-sdk==2.66.1
six==1.17.0
soupsieve==2.9.1
sqlparse==0.5.5
stack-data==0.6.3
tqdm==4.70.0
traitlets==5.16.0
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
vcrpy==7.0.0
waitress==3.0.2
wcwidth==0.8.2
WebOb==1.8.10
WebTest==3.0.7
Werkzeug==3.1.8
wrapt==2.2.2
yarl==1.24.5
