asgiref==3.11.0
attrs==25.4.0
babel==2.17.0
boto==2.49.0
boto3==1.41.0
botocore==1.41.0
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
Collectfast==2.2.0
cryptography==46.0.3
defusedxml==0.7.1
Django==5.1.8
django-allauth==0.55.2
django-anymail==13.1
django-autocomplete-light==3.12.1
django-autoslug==1.9.9
django-braces==1.17.0
django-cors-headers==4.9.0
django-crispy-forms==1.14.0
django-environ==0.12.0
django-filter==25.1
django-grappelli==4.0.2
django-model-utils==5.0.0
django-ratelimit==4.1.0
django-redis-cache==3.0.1
django-resized==1.0.3
django-reversion==6.0.0
django-storages==1.14.6
freetype-py==2.3.0
gtin==1.3.1649173518
gunicorn==23.0.0
idna==3.11
isodate==0.6.1
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
MarkupSafe==3.0.3
more-itertools==10.8.0
oauthlib==3.3.1
openapi-core==0.19.5
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
packaging==25.0
parse==1.20.2
pathable==0.4.4
Pillow==10.1.0
psycopg2-binary==2.9.11
pycairo==1.29.0
pycparser==2.23
pydantic==1.10.9
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
PyYAML==6.0.3
redis==3.5.3
referencing==0.36.2
reportlab==4.3.1
requests==2.32.5
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rlPyCairo==0.4.0
rpds-py==0.29.0
rq==1.16.1
s3transfer==0.14.0
sentry-sdk==2.45.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==1.26.15
Werkzeug==3.1.1
