{% extends "base-webview.html" %}
{% load static %}

{% block content %}
<img class="img50" src="{% static "images/logo.png" %}"/>
<h1>Pola. Zabierz ją na zakupy</h1>
<div class="text">
Masz dość masówki globalnych koncernów? Szukasz lokalnych firm tworzących unikatowe produkty? Pola pomoże Ci odnaleźć polskie wyroby. Zabierając Polę na zakupy, odnajdujesz produkty „z duszą” i wspierasz polską gospodarkę.
</div>
<div class="text">
Zeskanuj kod kreskowy z dowolnego produktu i dowiedz się więcej o firmie, która go wyprodukowała. Pola powie Ci, czy dany producent opiera się na polskim kapitale, ma u nas swoją produkcję, tworzy wykwalifikowane miejsca pracy, jest częścią zagranicznego koncernu.
</div>
<div class="text">
Jeśli znajdziesz firmę, której nie ma w naszej bazie, koniecznie zgłoś ją do nas wypełniając <a href="https://forms.gle/st2HKhVZNumB9E7N9">formularz</a>. Pamiętaj też, że każda złotówka pomaga nam w rozwoju Poli, więc <a href="https://klubjagiellonski.pl/zbiorka/wspieraj-aplikacje-pola/">zobacz jak nas wesprzeć</a>!
</div>
{% endblock content %}
