{% extends "base-webview.html" %}
{% load static %}

{% block content %}

<img class="img75" src="{% static "images/logo_cakjv2_crop.png" %}"/>
<div class="break">&nbsp</div>
<div class="text">
    <strong>Klub Jagielloński</strong> - jesteśmy stowarzyszeniem, które troszczy się o dobro wspólne. Piszemy artykuły, formułujemy obywatelskie postulaty zmian i wysyłamy petycje do władz. Publikujemy komentarze ekspertów i raporty. Szczególną wagę przywiązujemy do patriotyzmu gospodarczego, bo nasza przyszłość zależy od silnych polskich przedsiębiorstw.</div>
<div class="text">
Działamy dzięki naszym Sympatykom. Jeżeli chcesz razem z nami budować podmiotową Polskę – prosimy o wsparcie. Możesz to zrobić klikając tutaj:<br/>
<a class="link" href="https://klubjagiellonski.pl/zbiorka/wesprzyj-nas/"><b>Wesprzyj nas</b></a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>
</div>
<div class="text">
Twoje pieniądze pomogą nam realizować między innymi:
</div>

<img class="img50" src="{% static "images/logo_cakjv2_crop.png" %}"/><br/>
<a class="link" href="http://www.klubjagiellonski.pl">Portal publicystyczny www.klubjagiellonski.pl</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="img50" src="{% static "images/logo_anp.png" %}"/><br/>
<a class="link" href="http://www.anp.klubjagiellonski.pl">Akademię Nowoczesnego Patriotyzmu</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="img50" src="{% static "images/logo_kjv2_crop.png" %}"/><br/>
<a class="link" href="http://klubjagiellonski.pl/projekty/centrum-analiz">Think-tank Centrum Analiz KJ</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="img75" src="{% static "images/logo_pressje.png" %}"/><br/>
<a class="link" href="https://klubjagiellonski.pl/projekty/pressje/">Kwartalnik Pressje</a>

{% endblock content %}
