{% extends "base-webview.html" %}

{% block content %}
<h1>Algorytm</h2>
<div class="text">
Każdemu producentowi Pola przypisuje od 0 do 100 punktów. Pierwsze 35 punktów przyznaje proporcjonalnie do udziału polskiego kapitału w konkretnym przedsiębiorstwie. Dalsze 10 punktów otrzymuje ta firma, która jest zarejestrowana w Polsce, a kolejne 30, o ile produkuje w naszym kraju. Dalsze 15 punktów zależy od tego, czy zatrudnia w naszym kraju w obszarze badań i rozwoju. Wreszcie ostatnie 10 punktów otrzymują firmy, które nie są częścią zagranicznych koncernów.
</div>
<div class="text">
    Liczba punktów zwizualizowana jest przy pomocy czerwonego paska.
</div>
<div class="text">
    Dokładamy wszelkich starań aby dane w aplikacji zawsze odpowiadały rzeczywistości i były aktualizowane na bieżąco. Prosimy o zgłaszanie wszelkich uwag i niejasności.
</div>
{% endblock content %}
