{% extends "base-webview.html" %}
{% load static %}

{% block content %}

<h1>Dziękujemy naszym partnerom merytorycznym:</h1>

<img class="img75" src="{% static "images/logo_cakj.png" %}"/>
<div class="skill">Algorytm</div>
<a class="link" href="http://www.cakj.pl">www.cakj.pl</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="logo, img75" src="{% static "images/logo_ilim.jpg" %}"/>
<div class="skill">Baza kodów kreskowych i producentów</div>
<a class="link" href="http://www.ilim.poznan.pl">www.ilim.poznan.pl</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="logo, img75" src="{% static "images/logo_kodujdlapolski.png" %}"/><p/>
<div class="skill">Otwarte spotkania projektowe dla programistów</div>
<a class="link" href="http://www.kodujdlapolski.pl">www.kodujdlapolski.pl</a>

{% endblock content %}
