{% extends "base-webview.html" %}

{% block content %}
<div style="text-align: center">
    <h1>Zespół:</h1>

    <div class="skill">pomysłodawca:</div>
    <div class="author">Kuba Lipiński</div>
    <br/>

    <div class="skill">programowanie:</div>
    <div class="author">Kamil Breguła</div>
    <div class="author">Rafał Gawlik</div>
    <div class="author">Marcin Stepnowski</div>
    <div class="author">Zuzanna Dudzińska</div>
    <div class="author">Julia Dudzińska</div>
    <div class="author">Jakub Kałamarz</div>
    <div class="author">Karol Kamiński</div>
    <div class="author">Mikołaj Rodkiewicz</div>
    <div class="author">Katarzyna Grudzień</div>
    <div class="author">Adam Walkowski</div>
    <div class="author">Kuba Lipiński</div>
    <div class="author">Łukasz Rejman</div>
    <div class="author">Arek Banas</div>
    <div class="author">Paweł Janeczek</div>
    <div class="author">Grzesiek Kapusta</div>
    <div class="author">Jurek Kleszcz</div>
    <div class="author">Konrad Krakowiak</div>
    <div class="author">Antoni Kędracki</div>
    <div class="author">Michał Tajchert</div>
    <br/>

    <div class="skill">algorytm:</div>
    <div class="author">Piotr Dardziński</div>
    <div class="author">Michał Kot</div>
    <div class="author">Piotr Mieczkowski</div>
    <div class="author">Joanna Szalacha-Jarmużek</div>
    <div class="author">Leszek Wojdalski</div>
    <br/>

    <div class="skill">projektowanie:</div>
    <div class="author">Przemek Pomaski</div>
    <br/>

    <div class="skill">grafika:</div>
    <div class="author">Magdalena </div>
    <br/>

    <div class="skill">redakcja i baza danych:</div>
    <div class="author">Bartek Ząbek</div>
    <div class="author">Piotr Kaźmierski</div>
    <div class="author">Arkadiusz Tomczyński</div>
    <div class="author">Mikołaj Dłubak</div>
    <div class="author">Łukasz Cader</div>
    <div class="author">Dawid Kiljański</div>
    <div class="author">Mateusz Perowicz</div>
    <div class="author">Maciek Dulak</div>
    <div class="author">Mateusz Mroczek</div>
    <div class="author">Wojtek Skierski</div>

    <br/>

    <div class="skill">opiekunowie:</div>
    <div class="author">Maciej Dulak</div>
    <div class="author">Bartosz Paszcza</div>
    <div class="author">Obecnie - Mateusz Perowicz</div>

    <div>Chcesz dołączyć do naszego zespołu?</div>
    <div>Napisz do nas na:</div>
    <div><a href="mailto:pola@klubjagiellonski.pl">pola@klubjagiellonski.pl</a></div>
</div>
{% endblock content %}
