<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: 'Lato', sans-serif;
            padding: 10px;
            color: #333333;
        }
        h1{
            font-weight: bold;
            font-size: 30pt;
            padding-bottom:5px;
        }
        .author {
            padding-top:15px;
            font-size: 30pt;
        }
        .task {
            font-size: 12pt;
        }
    </style>

</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>