{% extends "base-webview.html" %}
{% load staticfiles %}

{% block content %}

<img class="img50" src="{% static "images/logo_kj.png" %}"/>
<div class="text">
    <strong>Klub Jagielloński</strong> jest ogólnopolską organizacją obywatelską. Od wielu lat promujemy nowoczesny patriotyzm, wydajemy kwartalnik intelektualny, prowadzimy think-tank oraz portal publicystyczny, patrzymy politykom na ręce. Szczególną wagę przywiązujemy do patriotyzmu gospodarczego, bo nasza przyszłość zależy od silnych polskich przedsiębiorstw. Działamy dzięki wsparciu finansowemu Sympatyków. Jeżeli chcesz razem z nami budować podmiotową Polskę - prosimy o wsparcie.
</div>
<div class="text">
Klub Jagielloński<br/>
ul. Rynek Główny 34<br/>
31-010 Kraków<br/>
47&nbsp;1020&nbsp;2892&nbsp;0000&nbsp;5102&nbsp;0582&nbsp;9454<br/> (PKO Bank Polski S.A.)<br/>
Tytułem: „Darowizna na cele statutowe”
</div>
<div class="text">
Twoje pieniądze pomogą nam realizować jeden z naszych licznych projektów np.:
</div>

<img class="img75" src="{% static "images/logo_anp.png" %}"/><br/>
<a class="link" href="http://www.anp.kj.org.pl">www.anp.kj.org.pl</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="img75" src="{% static "images/logo_cakj.png" %}"/><br/>
<a class="link" href="http://www.cakj.pl">www.cakj.pl</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="img75" src="{% static "images/logo_j24.png" %}"/><br/>
<a class="link" href="http://www.jagiellonski24.pl/">www.jagiellonski24.pl</a>
<div class="break">&nbsp</div>
<div class="break">&nbsp</div>

<img class="img75" src="{% static "images/logo_pressje.png" %}"/><br/>
<a class="link" href="http://www.pressje.pl/">www.pressje.pl</a>

{% endblock content %}
