{% extends "base-webview.html" %}

{% block content %}
<div style="text-align: center">
    <h1>Zespół:</h1>

    <div class="author">Kamil Breguła</div>
    <div class="skill">programowanie</div>

    <div class="author">Paweł Janeczek</div>
    <div class="skill">programowanie</div>

    <div class="author">Grzesiek Kapusta</div>
    <div class="skill">programowanie</div>

    <div class="author">Michał Kot</div>
    <div class="skill">metodologia</div>

    <div class="author">Kuba Lipiński</div>
    <div class="skill">koordynacja, programowanie</div>

    <div class="author">Przemek Pomaski</div>
    <div class="skill">projektowanie</div>

    <div class="author">Wojtek Skierski</div>
    <div class="skill">redakcja</div>

    <div class="author">Michał Tajchert</div>
    <div class="skill">programowanie</div>

    <div class="author">Bartek Ząbek</div>
    <div class="skill">redakcja</div>
    </p>
    <div>Chcesz dołączyć do naszego zespołu?</div>
    <div>Napisz do nas na:</div>
    <div><a href="mailto:kontakt@pola-app.pl">kontakt@pola-app.pl</a></div>
</div>
{% endblock content %}
