{%extends 'product/base.html' %}

{% load crispy_forms_tags i18n %}

{% block breadcrumbs_rows %}
    {% if object %}
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="active">{% trans 'Zmień' %}</li>
    {% else %}
        <li class="active">{% trans 'Dodaj' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock content %}

{% block javascript %}
    {{ form.media }}
    <script type="text/javascript">
        Array.from(
            document.querySelectorAll('#id_rows')
        ).forEach(d =>{
            let text = d.getAttribute('placeholder')
            text = text.replaceAll("\\n", "\n")
            text = text.replaceAll("\\t", "\t")
            d.setAttribute('placeholder', text)
        })
    </script>
{% endblock javascript %}
