.accordian{
    margin-bottom: 1em;
    &.is-open{
        .accordian-indicator{
            transform: rotateX(180deg);
        }
        .accordian-content{
            max-height: 300px;
        }
    }
}
.accordian-indicator{
    width: 50px;
    height: 1em;
    line-height: 1em;
    // transition: .2s transform;
    font-size: 1.2em;
    margin: {top: .1em; bottom: .1em;};
    .icon {
        vertical-align: baseline;
    }
}
.accordian-header{
    display: flex;
    margin-bottom: .2em;
    cursor: pointer;
}
.accordian-content{
    margin-left: 50px;
    overflow: hidden;
    max-height: 0;
    transition: .2s max-height;
}
.accordian-title{
    flex-grow: 1;
    font-weight: 500;
}
