{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Pola{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block css %}
<!-- Your stuff: Third-party css libraries go here -->

<!-- This file store project specific CSS -->
{% if debug %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
{% else %}
<link rel="stylesheet" href="{% static 'css/style.min.css'%}">
{% endif %}
{% endblock %}

</head>

<body>


    <div class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">{% trans "Odtwórz nawigacje" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{% trans "Pola" %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home-cms' %}">{% trans "Start" %}</a></li>
                    {% if perms.product.view_product %}
                        <li><a href="{% url 'product:list' %}">{% trans "Produkty" %}</a></li>
                    {% endif %}
                    {% if perms.company.view_company %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Producenci <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'company:list' %}">{% trans "Producenci" %}</a></li>
                            <li><a href="{% url 'company:brand-list' %}">{% trans "Marki" %}</a></li>
                          </ul>
                        </li>
                    {% endif %}
                    {% if perms.report.view_report %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zgłoszenia <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'report:list' %}">{% trans "Lista podstawowa" %}</a></li>
                                <li><a href="{% url 'report:advanced' %}">{% trans "Lista zaawansowana" %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.ai_pics.view_aipics %}
                        <li><a href="{% url 'ai_pics:list' %}">{% trans "Zdjęcia AI" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'home-stats' %}">{% trans "Statystyki" %}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% comment "Odkomentować jak będą inne tłumaczenia" %}
                    <li><a href="{% url 'select_lang' %}">{% trans "Język" %}</a></li>
                    {% endcomment %}
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "Profil" %}</a></li>
                    <li><a href="{% url 'account_logout' %}">{% trans "Wyloguj" %}</a></li>
                    {% else %}
                    {% comment "Zakładanie kont jest niedostępne" %}
                    <li><a href="{% url 'account_signup' %}">{% trans "Załóż konto" %}</a></li>
                    {% endcomment %}
                    <li><a href="{% url 'account_login' %}">{% trans "Zaloguj się" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% block breadcrumbs %}{% endblock %}
        {% block content %}
        <p>{% trans "Use this document as a way to quick start any new project." %}</p>
        {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% if debug %}
    <script src="{% static 'js/backend.js' %}"></script>
    {% else %}
    <script src="{% static 'js/backend.min.js' %}"></script>
    {% endif %}
    {% block javascript %}

    {% endblock javascript %}
    {% include 'partiales/google_analytics.html' %}
</body>
</html>
