{% extends "base-main.html" %}
{% load staticfiles %}

{%  block header_class_name %}{% endblock %}

{% block content %}

<div class="container">
    <div class="page-content">
        <h2>Klub Przyjaciół Poli</h2>

        <div class="section">
            <p><strong>Czym jest Klub Przyjaciół Poli?</strong></p>
            <p>Głównym celem Klubu Przyjaciół Poli jest promocję oraz wsparcie polskich przedsiębiorstw. Będzie to możliwe dzięki stworzeniu silnego środowiska społeczno-biznesowego, które poprzez kooperację i wspólne działania przyczyni się do popularyzacji marki Made In Poland oraz umożliwi rodzimym przedsiębiorstwom rozwój nie tylko na rynku krajowym, ale także na rynkach zagranicznych.</p>
        </div>

        <div class="section">
            <p><strong>Kto może dołączyć do Klubu Przyjaciół Poli?</strong></p>
            <p>Status Przyjaciela Poli przeznaczony jest dla przedsiębiorstw, które spełniają wszystkie kryteria znajdujące się w stworzonym przez nas algorytmie:
                <ul>
                    <li>są zarejestrowane w Polsce;</li>
                    <li>posiadają 100% polskiego kapitału;</li>
                    <li>prowadzą produkcję na terenie naszego kraju;</li>
                    <li>tworzą wykwalifikowane miejsca pracy;</li>
                    <li>nie są częścią zagranicznego koncernu.</li>
                </ul>
            </p>
            <p>Ponadto przedsiębiorstwo musi charakteryzować się nieposzlakowaną opinią na swój temat oraz aktywnie angażować się w działania podejmowane na rzecz promocji patriotyzmu gospodarczego w Polsce.
            </p>
        </div>

        <div class="section">
            <p><strong>Co daje status Przyjaciela Poli?</strong></p>
            <p>
                <ol type="a">
                    <li>
                        <strong>Znak Towarowy Polski produkt - 100 pkt Pola</strong>
                        <p>Dwa lata od powstania aplikacji <strong>Pola. Zabierz ją na zakupy</strong>, która zgromadziła ponad <strong>420 tysięcy użytkowników</strong>, postanowiliśmy wprowadzić własne oznaczenie <strong>Polski produkt - 100 pkt Pola</strong> przeznaczone wyłącznie dla produktów, które uzyskały w naszym algorytmie maksymalny wynik 100 punktów. Będzie to tym samym pierwszy znak towarowy, którego pojawienie się na etykiecie jest poparte merytoryczną analizą danego przedsiębiorstwa.</p>
                        <p>Głównym powodem rozszerzenia naszej działalności są doświadczenia związane z oznaczeniami funkcjonującymi na polskim rynku spożywczym. W większości przypadków w sposób jednoznaczny sugerują one polskie pochodzenie produktów, chociaż po zweryfikowaniu ich producentów okazuje się, że są własnością zagranicznych podmiotów. Znak <strong>Polski produkt - 100 pkt Pola</strong> jest naszą odpowiedzią, która w formie prostego graficznego przekazu umożliwi szybką weryfikację produktu, co będzie szczególnie ważne dla osób niekorzystających z urządzeń mobilnych.</p>
                    </li>
                    <li>
                        <strong>Aplikacja Pola. Zabierz ją na zakupy</strong>
                        <p>Oprócz samego znaku towarowego status Przyjaciela Poli będzie jednoznaczny z aktywnym partycypowaniem w rozwoju aplikacji <strong>Pola. Zabierz ja na zakupy</strong>. W specjalnych zakładkach w aplikacji oraz na naszej stronie internetowej każdy konsument będzie mógł poznać historię oraz profil działalności wszystkich współpracujących z Klubem Jagiellońskim przedsiębiorstw. Dodatkowo po zeskanowaniu produktu należącego do Przyjaciela Poli użytkownik zostanie poinformowany o jego specjalnym statusie.</p>
                    </li>
                    <li>
                        <strong>Działalność promocyjna oraz społeczna</strong>
                        <p>Wszyscy Przyjaciele Poli mają możliwość aktywnego udziału w prowadzonych przez nas kampaniach społecznych oraz internetowych, mających na celu popularyzację polskich firm wśród obywateli oraz poza granicami kraju.</p>
                    </li>
                </ul>
            </p>
        </div>
        <div class="section">
            <p><strong>Poznaj Przyjaciół Poli</strong></p>
            <p>
                <ol type="a">
                    <li>
                        <strong>RADZIEMSKA</strong>
                        <p>Rodzime przedsiębiorstwo chemiczne powstałe w 1982 roku. Firma specjalizuje się w produkcji chemii gospodarczej, w tym odplamiaczy, proszków do prania czy wybielaczy. Jest laureatem wielu nagród konsumenckich, a jej siedziba znajduje się w Łomiankach pod Warszawą.</p>
                    </li>
                    <li>
                        <strong>Woda Staropolska</strong>
                        <p>Polski producent wody mineralnej pochodzący z Iłży. Jest to firma rodzinna o ponad 30-letniej tradycji, która specjalizuje się w produkcji bogatych w magnez i wapń wód mineralnych pod marką „Staropolska”. Od 1986 r. przedsiębiorstwo realizuje swoją misję, stając się w ostatnim czasie liderem wśród producentów i dostawców butelkowanej wody mineralnej przeznaczonej dla firm.</p>
                    </li>
                </ol>
            </p>
        </div>
        <div class="section">
            <p><strong>Chcesz dołączyć do Klubu Przyjaciół Poli?</strong></p>
            <p>Wszystkie przedsiębiorstwa zainteresowane dołączeniem do grona Przyjaciół Poli zachęcamy do kontaktu z Maciejem Dulakiem (tel. 694 844 887, e-mail: maciej_dulak@kj.org.pl), który odpowiada za rozwój projektu.</p>
        </div>
    </div>
</div>

{% endblock content %}
