{% extends "base-main.html" %}
{% load static %}
{% load pola_web_static %}

{%  block header_class_name %}header{% endblock %}

{% block content %}
        <div class="container">
            <div class="header-mobile visible-sm-block visible-xs-block">
                <svg role="img" class="icon header-logo" title="Pola">
                    <use xlink:href="#logo"/>
                </svg>
                <h1 class="page-title">Zabierz ją na zakupy</h1>
                <div class="social-bar">
                    <ul>
                        <li>
                            <a href="mailto:pola@klubjagiellonski.pl">
                                <svg role="img" class="icon" title="Mail">
                                    <use xlink:href="#mail"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/app.pola">
                                <svg role="img" class="icon" title="Facebook">
                                    <use xlink:href="#facebook"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/pola_app">
                                <svg role="img" class="icon" title="Twitter">
                                    <use xlink:href="#twitter"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mockup">
                    <img src="{%  static "images/mockup.png" %}" alt="" class="mockup-img">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="download-links visible-xs-block visible-sm-block ">
            <li>
                <a href="https://play.google.com/store/apps/details?id=pl.pola_app"><img src="{% static  "images/badge-googleplay.png" %}" alt="" ></a>
            </li>
            <li>
                <a href="https://itunes.apple.com/us/app/pola.-zabierz-ja-na-zakupy/id1038401148?ls=1&mt=8"><img src="{% static "images/badge-appstore.png"%}" alt="" ></a>
            </li>
            <li>
                <a href="https://www.microsoft.com/pl-pl/store/apps/pola/9nblggh697n1"><img src="{% static "images/badge-windows-phone.png" %}" alt="" ></a>
            </li>
        </ul>
        <div class="row hidden-xs hidden-sm header-desktop">
            <div class="col-md-3">
                <div class="mockup">
                    <img src="{% static "images/mockup.png"%}" alt="" class="mockup-img">
                </div>
            </div>
            <div class="col-md-9">
                <svg role="img" class="icon header-logo" title="Pola">
                    <use xlink:href="#logo"/>
                </svg>
                <h1>Pola. Zabierz ją na zakupy</h1>
                <ul class="download-links hidden-xs hidden-sm ">
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=pl.pola_app"><img src="{% static "images/badge-googleplay.png" %}" alt="" ></a>
                    </li>
                    <li>
                        <a href="https://itunes.apple.com/us/app/pola.-zabierz-ja-na-zakupy/id1038401148?ls=1&mt=8"><img src="{% static "images/badge-appstore.png" %}" alt="" ></a>
                    </li>
                    <li>
                        <a href="https://www.microsoft.com/pl-pl/store/apps/pola/9nblggh697n1"><img src="{% static "images/badge-windows-phone.png" %}" alt="" ></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="section" id="pola-web">
                <div id="root"></div>
                <script src="{% pola_web_static 'runtime-main.js' %}"></script>
                <script src="{% pola_web_static 'static/js/2.5ba2315d.chunk.js' %}"></script>
                <script src="{% pola_web_static 'main.js' %}"></script>
            </div>
        </div>
        <div class="page-content">
            <div class="section" id="about">
                <h2 id="about">O Poli</h2>
                <p>Masz dość masówki globalnych koncernów? Szukasz lokalnych firm tworzących unikatowe produkty? Pola pomoże Ci odnaleźć polskie wyroby. Zabierając Polę na zakupy, odnajdujesz produkty „z duszą” i wspierasz polską gospodarkę. </p>
                <p>Zeskanuj kod kreskowy z dowolnego produktu i dowiedz się więcej o firmie, która go wyprodukowała. Pola powie Ci, czy dany producent opiera się na polskim kapitale, ma u nas swoją produkcję, tworzy wykwalifikowane miejsca pracy, jest częścią zagranicznego koncernu. </p>
                <p>Jeśli znajdziesz firmę, której nie ma w naszej bazie, koniecznie zgłoś ją do nas. Pomożesz nam w ten sposób uzupełniać unikatową bazę polskich producentów.</p>
            </div>
            <div class="section" id="methodology">
                <h2>Algorytm</h2>
                <p>Każdemu producentowi Pola przypisuje od 0 do 100 punktów. Pierwsze 35 punktów przyznaje proporcjonalnie do udziału polskiego kapitału w konkretnym przedsiębiorstwie. Dalsze 10 punktów otrzymuje ta firma, która jest zarejestrowana w Polsce, a kolejne 30, o ile produkuje w naszym kraju. Dalsze 15 punktów zależy od tego, czy zatrudnia w naszym kraju w obszarze badań i rozwoju. Wreszcie ostatnie 10 punktów otrzymują firmy, które nie są częścią zagranicznych koncernów.</p>
                <p>Liczba punktów zwizualizowana jest przy pomocy czerwonego paska. Dokładamy wszelkich starań aby dane w aplikacji zawsze odpowiadały rzeczywistości i były aktualizowane na bieżąco. Prosimy o zgłaszanie wszelkich uwag i niejasności.</p>
            </div>
            <div class="section" id="approach">
                <h2>Filozofia działania</h2>
                <p>Staramy się być maksymalnie przejrzyści w naszych działaniach. Całość kodu źródłowego serwisu udostępniamy na zasadach otwartego oprogramowania na <a href="https://github.com/KlubJagiellonski">koncie Klubu Jagiellońskiego</a> w serwisie GitHub. Wktórce planujemy udostępnić w Internecie całość bazy danych producentów wraz z historią zmian i źródłami, na podstawie których podejmujemy decyzję o liczbie punktów, które im przyznajemy. Działamy zgodnie z naszą <a href="{% static "docs/polityka_prywatnosci.pdf" %}">polityką prywatności</a>.</p>
            </div>
            <div class="section" id="partners">
                <h2>Partnerzy</h2>
                <ul class="partners-list">
                    <li class="partner">
                        <a href="https://klubjagiellonski.pl/projekty/centrum-analiz/" class="">
                            <img src="{% static "images/logo_cakjv2_crop.png" %}">
                        </a>
                        <div class="skill">Algorytm</div>
                    </li>
                    <li class="partner">
                        <a href="http://www.ilim.poznan.pl">
                            <img src="{% static "images/logo_logistyka.png" %}">
                        </a>
                        <div class="skill">Baza kodów kreskowych i producentów</div>
                    </li>
                    <li class="partner">
                        <a href="http://www.kodujdlapolski.pl">
                        <img src="{% static "images/logo_kodujdlapolski.png" %}">
                        </a>
                        <div class="skill">Otwarte spotkania projektowe dla programistów</div>
                    </li>
                </ul>
            </div>
            <div class="section" id="faq">
                <h2>FAQ</h2>
                <div class="accordian is-open">
                    <div class="accordian-header">
                        <div class="accordian-indicator">
                            <svg role="img" class="icon">
                                <use xlink:href="#accordian-indicator"/>
                            </svg>
                        </div>
                        <div class="accordian-title">Mam telefon z systemem operacyjnym Android. Nie mogę znaleźć aplikacji w Google Play. Dlaczego?</div>
                    </div>
                    <div class="accordian-content" aria-hidden="false">
                        <p>Aplikacja Pola działa na telefonach wyposażonych w system Android 4.1 lub nowszy. Aktualnie nie planujemy wsparcia dla wcześniejszych wersji.</p>
                    </div>
                </div>
                <div class="accordian">
                    <div class="accordian-header">
                        <div class="accordian-indicator">
                            <svg role="img" class="icon">
                                <use xlink:href="#accordian-indicator"/>
                            </svg>
                        </div>
                        <div class="accordian-title">Mam telefon iPhone (iPad). Nie mogę znaleźć aplikacji w App Store. Dlaczego?</div>
                    </div>
                    <div class="accordian-content" aria-hidden="true">
                        <p>Aplikacja Pola działa na urządzeniach wyposażonych w system operacyjny iOS w wersji 8.0 lub nowszej. Aktualnie nie planujemy wsparcia dla wcześniejszych wersji.</p>
                    </div>
                </div>
                <div class="accordian">
                    <div class="accordian-header">
                        <div class="accordian-indicator">
                            <svg role="img" class="icon">
                                <use xlink:href="#accordian-indicator"/>
                            </svg>
                        </div>
                        <div class="accordian-title">Reprezentuję producenta. Moja firma nie została jeszcze zweryfikowana przez redakcję. Co mam zrobić?</div>
                    </div>
                    <div class="accordian-content" aria-hidden="true">
                        <p>W pierwszej kolejności zajmujemy się tymi firmami, których produkty są najczęściej skanowane. Jednak możesz nam pomóc w weryfikacji firmy wypełniając <a href="https://forms.gle/st2HKhVZNumB9E7N9">formularz</a>.</p>
                    </div>
                </div>
                <div class="accordian">
                    <div class="accordian-header">
                        <div class="accordian-indicator">
                            <svg role="img" class="icon">
                                <use xlink:href="#accordian-indicator"/>
                            </svg>
                        </div>
                        <div class="accordian-title">Jak mogę zgłosić uwagi lub błąd w serwisie Pola?</div>
                    </div>
                    <div class="accordian-content" aria-hidden="true">
                        <p>Korzystamy z serwisu GitHub do zgłaszania błędów i uwag. Wybierz do jakiej części Poli chcesz zgłosić uwagi: <a href="https://github.com/KlubJagiellonski/pola-android/issues">aplikacja na Androida</a>, <a href="https://github.com/KlubJagiellonski/pola-ios/issues">aplikacja na iPhone'a</a>, <a href="https://github.com/KlubJagiellonski/pola-backend/issues">strona internetowa</a>.</p>
                    </div>
                </div>
                <div class="accordian">
                    <div class="accordian-header">
                        <div class="accordian-indicator">
                            <svg role="img" class="icon">
                                <use xlink:href="#accordian-indicator"/>
                            </svg>
                        </div>
                        <div class="accordian-title">Chcę pomóc w projekcie</div>
                    </div>
                    <div class="accordian-content" aria-hidden="true">
                        <p>Zapraszamy do włączenia się w pracę nad serwisem Pola. Dołącz do nas i pracuj nad <a href="https://github.com/KlubJagiellonski/pola-android">aplikacją na Androida</a>, <a href="https://github.com/KlubJagiellonski/pola-ios/issues">aplikacją na iPhone'a</a> lub <a href="https://github.com/KlubJagiellonski/pola-backend/issues">stroną internetową.</a>. Stale poszukujemy też wolontariuszy chcących pomóc nam rozwijać bazę danych o firmach - zachęcamy do kontaktu z Mateuszem Perowiczem (tel. <a href="tel:+48660010034">660 010 034</a>, e-mail: <a href="mailto:mateusz.perowicz@klubjagiellonski.pl">mateusz.perowicz@klubjagiellonski.pl</a>)</p>
                    </div>
                </div>
            </div>
            <div class="section" id="team">
                <h2>Zespół</h2>
                <div class="team">
                    <div class="team-group">
                        <div class="team-title">programowanie</div>
                        <ul class="team-list">
                            <li>Arek Banas</li>
                            <li>Kamil Breguła</li>
                            <li>Rafał Gawlik</li>
                            <li>Marcin Stepnowski</li>
                            <li>Zuzanna Dudzińska</li>
                            <li>Julia Dudzińska</li>
                            <li>Jakub Kałamarz</li>
                            <li>Karol Kamiński</li>
                            <li>Mikołaj Rodkiewicz</li>
                            <li>Katarzyna Grudzień</li>
                            <li>Adam Walkowski</li>
                            <li>Kuba Lipiński</li>
                            <li>Łukasz Rejman</li>
                            <li>Arek Banas</li>
                            <li>Paweł Janeczek</li>
                            <li>Grzesiek Kapusta</li>
                            <li>Jurek Kleszcz</li>
                            <li>Konrad Krakowiak</li>
                            <li>Antoni Kędracki</li>
                            <li>Michał Tajchert</li>
                        </ul>
                    </div>
                    <div class="team-title">kontakt</div>
                    <ul class="team-list">
                        <li>pola@klubjagiellonski.pl</li>
                        <li>tel. 660 010 034</li>
                    </ul>
                    <div class="team-group">
                        <div class="team-title">algorytm:</div>
                        <ul class="team-list">
                            <li>Piotr Dardziński</li>
                            <li>Michał Kot</li>
                            <li>Piotr Mieczkowski</li>
                            <li>Joanna Szalacha-Jarmużek</li>
                            <li>Leszek Wojdalski</li>
                        </ul>
                    </div>
                    <div class="team-group">
                        <div class="team-title">projektowanie:</div>
                        <ul class="team-list">
                            <li>Przemek Pomaski</li>
                        </ul>
                    </div>
                    <div class="team-group">
                        <div class="team-title">koordynacja: </div>
                        <ul class="team-list">
                            <li>Obecnie - Mateusz Perowicz</li>
                            <li>Bartosz Paszcza</li>
                            <li>Maciej Dulak</li>
                        </ul>
                    </div>
                    <div class="team-group">
                        <div class="team-title">redakcja: </div>
                        <ul class="team-list">
                            <li>Bartek Ząbek</li>
                            <li>Piotr Kaźmierski</li>
                            <li>Arkadiusz Tomczyński</li>
                            <li>Mikołaj Dłubak</li>
                            <li>Łukasz Cader</li>
                            <li>Dawid Kiljański</li>
                            <li>Maciek Dulak</li>
                            <li>Mateusz Mroczek</li>
                            <li>Mateusz Perowicz</li>
                            <li>Wojtek Skierski</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section" id="partners">
              <h2 >Wydawca</h2>
              <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-4">
                    <a href="https://klubjagiellonski.pl/" style="border: none;">
                        <img class="img-responsive" style="width:50%;" src="{% static "images/logo_kjv2_crop.png" %}"/>
                    </a>
                </div>
            </div>
        </div>
        </div></div>
{% endblock content %}
