<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PolaAAAAAAAAAAAAAAAA</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/static/css/main-land.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div id="svg-container">
    </div>
    <div class="header">
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-nav top-bar-main">
                    <ul>
                        <li><a href="#about">O poli</a></li>
                        <li><a href="#methodology">Metologia</a></li>
                        <li><a href="#partners">Partnerzy</a></li>
                        <li><a href="#team">Zespół</a></li>
                    </ul>
                </div>
                <div class="top-bar-nav top-bar-social">
                    <ul>
                        <li>
                            <a href="">
                                <svg role="img" class="icon" title="Mail">
                                    <use xlink:href="#mail"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg role="img" class="icon" title="Facebook">
                                    <use xlink:href="#facebook"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg role="img" class="icon" title="Twitter">
                                    <use xlink:href="#twitter"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-mobile visible-sm-block visible-xs-block">
                <svg role="img" class="icon header-logo" title="Pola">
                    <use xlink:href="#logo"/>
                </svg>
                <h1 class="page-title">Twoja pomoc<br>w polskich zakupach </h1>
                <div class="social-bar">
                    <ul>
                        <li>
                            <a href="">
                                <svg role="img" class="icon" title="Mail">
                                    <use xlink:href="#mail"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg role="img" class="icon" title="Facebook">
                                    <use xlink:href="#facebook"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg role="img" class="icon" title="Twitter">
                                    <use xlink:href="#twitter"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mockup">
                    <img src="/static/images/mockup.png" alt="" class="mockup-img">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="download-links visible-xs-block visible-sm-block ">
            <li>
                <a href=""><img src="/static/images/badge-googleplay.png" alt="" ></a>
            </li>
            <li>
                <a href=""><img src="/static/images/badge-appstore.png" alt="" ></a>
            </li>
        </ul>
        <div class="row hidden-xs hidden-sm header-desktop">
            <div class="col-md-4">
                <div class="mockup">
                    <img src="/static/images/mockup.png" alt="" class="mockup-img">
                </div>
            </div>
            <div class="col-md-8">
                <svg role="img" class="icon header-logo" title="Pola">
                    <use xlink:href="#logo"/>
                </svg>
                <h1>Twoja pomoc w polskich zakupach</h1>
                <ul class="download-links hidden-xs hidden-sm ">
                    <li>
                        <a href=""><img src="/static/images/badge-googleplay.png" alt="" ></a>
                    </li>
                    <li>
                        <a href=""><img src="/static/images/badge-appstore.png" alt="" ></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
          <h2 id="about">O Poli</h2>
          <p>Masz dość masówki globalnych koncernów? Szukasz lokalnych firm tworzących unikalne produkty? Pola pomoże Ci odnaleźć polskie wyroby. Zabierając Polę na zakupy odnajdujesz produkty “z duszą” i wspierasz polską gospodarkę. </p>
          <p>Zeskanuj kod kreskowy z dowolnego produktu i dowiedz się  więcej o firmie, która go wyprodukowała. Pola powie Ci, czy dany producent opiera się na polskim kapitale, ma u nas  swoją produkcję, tworzy wykwalifikowane miejsca pracy, jest częścią zagranicznego koncernu. </p>
          <p>Jeśli znajdziesz firmę, której nie ma w naszej bazie, koniec znie zgłoś ją do nas. Pomożesz nam w ten sposób uzupełniać  unikalną bazę polskich producentów.</p>
          <h2 id="methodology">Metodologia</h2>
          <p>Każdemu producentowi Pola przypisuje od 0 do 100 punktów. Pierwsze 35 punktów przyznaje proporcjonalnie do udziału polskiego kapitału w konkretnym przedsiębiorstwie. Dalsze 10 punktów otrzymuje ta firma, która jest zarejstrowana w Polsce, a kolejne 30, o ile produkuje w naszym kraju. Dalsze 15 punktów zależy od tego, czy zatrudnia w naszym kraju w obszarze badań i rozwoju. Wreszcie ostatnie 10 punktów otrzymują firmy, które nie są częścią zagranicznych koncernów.</p>
          <p>Liczba punktów zwizualizowna jest przy pomocy czerwonego paska. Dokładamy wszelkich starań aby dane w aplikacji zawsze odpowiadały rzeczywistości i były aktualizowane na bieżąco. Prosimy o zgłoszanie wszelkich uwag i niejasności.</p>
          <h2 id="partners">Partnerzy</h2>
          <p>Każdemu producentowi Pola przypisuje od 0 do 100 punktów. Pierwsze 35 punktów przyznaje proporcjonalnie do udziału polskiego kapitału w konkretnym przedsiębiorstwie. Dalsze 10 punktów otrzymuje ta firma, która jest zarejstrowana w Polsce, a kolejne 30, o ile produkuje w naszym kraju. Dalsze 15 punktów zależy od tego, czy zatrudnia w naszym kraju w obszarze badań i rozwoju. Wreszcie ostatnie 10 punktów otrzymują firmy, które nie są częścią zagranicznych koncernów.</p>
          <p>Liczba punktów zwizualizowna jest przy pomocy czerwonego paska. Dokładamy wszelkich starań aby dane w aplikacji zawsze odpowiadały rzeczywistości i były aktualizowane na bieżąco. Prosimy o zgłoszanie wszelkich uwag i niejasności.</p>
          <h2 id="team">Zespół</h2>
          <div class="team">
            <div class="team-group">
                <div class="team-title">programowanie</div>
                <ul class="team-list">
                    <li>Kamil Breguła</li>
                    <li>Paweł Janeczek</li>
                    <li>Grzesiek Kapusta</li>
                    <li>Kuba Lipiński</li>
                    <li>Michał Tajchert </li>
                </ul>
            </div>
            <div class="team-group">
                <div class="team-title">metodologia:</div>
                <ul class="team-list">
                    <li>Michał Kot</li>
                </ul>
            </div>
            <div class="team-group">
                <div class="team-title">projektowanie:</div>
                <ul class="team-list">
                    <li>Przemek Pomaski</li>
                </ul>
            </div>
            <div class="team-group">
                <div class="team-title">kordynacja: </div>
                <ul class="team-list">
                    <li>Kuba Lipiński</li>
                </ul>
            </div>
            <div class="team-group">
                <div class="team-title">redakcja: </div>
                <ul class="team-list">
                    <li>Jan Lang</li>
                    <li>Weronika Olkiewicz</li>
                    <li>Wojtek Skierski</li>
                    <li>Bartek Ząbek</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="end-page"></div>
<script src="/static/js/script-land.min.js"></script>
</body>
</html>
