---
interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.eprodukty.gs1.pl/external_api/v1/products/?gtin_number__prefix=05901520000059
    response:
      body:
        string: |
          {"count":1,"next":null,"previous":null,"facets":{},"results":[{"id":"3830ebdb-cad0-482b-8e78-285de7a3ed0d","gtinNumber":"05901520000059","name":"Muszynianka Naturalna woda mineralna MUSZYNIANKA 1.5l","targetMarket":["PL"],"netContent":["1.5l"],"imageUrls":[],"description":"Naturalna woda mineralna MUSZYNIANKA 1,5l wysokozmineralizowana niskonasycona CO2","descriptionLanguage":"pl","productPage":null,"isPublic":true,"isVerified":false,"lastModified":"2022-03-31T09:10:30.834000+00:00","brand":"Muszynianka","company":{"name":"MUSZYNIANKA Sp. z o.o.","nip":"7343575005","street":"ul. Tadeusza Kościuszki 58","webPage":"http://muszynianka.pl/","city":"Krynica-Zdrój","postalCode":"33-380"},"gpc":"10000232"}]}
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Language:
          - pl
        Content-Type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
version: 1
