interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.eprodukty.gs1.pl/external_api/v2/products/5901520000059?include_local_data=true
    response:
      body:
        string: |
          {"gtinNumber":"05901520000059","gtinStatus":"active","name":"Muszynianka Naturalna woda mineralna MUSZYNIANKA. 1.5l","targetMarket":["PL"],"netContent":["1.5 l (litr)"],"imageUrls":[],"description":"Naturalna woda mineralna MUSZYNIANKA 1,5l wysokozmineralizowana niskonasycona CO2\nRodzaj opakowania: DRS_PET","descriptionLanguage":"pl","productPage":null,"isPublic":true,"isVerified":true,"lastModified":"2023-02-06T10:01:39.397782Z","brand":"Muszynianka","company":{"name":"MUSZYNIANKA Sp. z o.o.","nip":"7343575005","street":"ul. Tadeusza Kościuszki 58","city":"Krynica-Zdrój, PL","postalCode":"33-380","webPage":"http://muszynianka.pl/"},"gpc":[{"code":"10000232","text":"Woda pakowana - niearomatyzowana"}],"isComplete":false,"gs1Licence":{"licenseeGLN":"5909000014930","licensingMO":{"moName":"GS1 Poland"}}}
      headers:
        Allow:
          - GET, HEAD, OPTIONS
        Content-Language:
          - en
        Content-Type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
version: 1
