---
interactions:
  - request:
      body: '{"name": "Anthony Smith", "campaign": {"campaignId": "i1ufA"}, "email":
        "rodriguezana@kj.org.pl"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.getresponse.com/v3/contacts
    response:
      body:
        string: ''
      headers:
        content-type:
          - application/json
        x-ratelimit-limit:
          - '30000'
        x-ratelimit-remaining:
          - '29980'
        x-ratelimit-reset:
          - 60 seconds
        x-unique-id:
          - 59404386:8142_68A0400D:01BB_628A665A_2EA37E:4D61
      status:
        code: 202
        message: Accepted
  - request:
      body: '{"name": "Kristin Riggs", "campaign": {"campaignId": "i1ufA"}, "email":
        "ilopez@kj.org.pl"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.getresponse.com/v3/contacts
    response:
      body:
        string: ''
      headers:
        content-type:
          - application/json
        x-ratelimit-limit:
          - '30000'
        x-ratelimit-remaining:
          - '29979'
        x-ratelimit-reset:
          - 60 seconds
        x-unique-id:
          - 59404386:8143_68A0400D:01BB_628A665A_CDC8A5:4D5F
      status:
        code: 202
        message: Accepted
version: 1
