---
interactions:
  - request:
      body: '{"name": "Jay Mcintosh", "campaign": {"campaignId": "ZyQTm"}, "email":
        "A@example.org"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.getresponse.com/v3/contacts
    response:
      body:
        string: ''
      headers:
        content-type:
          - application/json
        x-unique-id:
          - 59404425:9AD2_68A0400D:01BB_6205C60B_2E5BC:499C
      status:
        code: 500
        message: Server error
[...]
  - request:
      body: '{"name": "Jay Mcintosh", "campaign": {"campaignId": "ZyQTm"}, "email":
        "A@example.org"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.getresponse.com/v3/contacts
    response:
      body:
        string: ''
      headers:
        content-type:
          - application/json
        x-unique-id:
          - 59404425:9AD2_68A0400D:01BB_6205C621_2FC0D:499C
      status:
        code: 500
        message: Server error
version: 1
