---
interactions:
  - request:
      body: |
        {"name": "Charles Smith", "campaign": {"campaignId": "ZyQTm"}, "email":
        "yhill@hotmail.com"}
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.getresponse.com/v3/contacts
    response:
      body:
        string: ''
      headers:
        content-type:
          - application/json
        x-ratelimit-limit:
          - '30000'
        x-ratelimit-remaining:
          - '29991'
        x-ratelimit-reset:
          - 124 seconds
        x-unique-id:
          - 59404425:9AFD_68A0400D:01BB_620540D5_1790AC:0557
      status:
        code: 202
        message: Accepted
version: 1
