---
interactions:
  - request:
      body: '{"name": "", "campaign": {"campaignId": "i1ufA"}, "email": "A@example.org"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.getresponse.com/v3/contacts
    response:
      body:
        string: '{"httpStatus":400,"code":1000,"codeDescription":"General error of validation
          process, more details should be in context section","message":"Validation
          error, see context section for more information",
          "moreInfo":"https:\/\/apidocs.getresponse.com\/en\/v3\/errors\/1000",
          "context":[{"validationType":"body","fieldName":["name"],
          "originalValue":"","errorDescription":"Expected string length between: 1 and 128"}],
          "uuid":"1a947af9-fbb5-46f8-a9f0-15e63166a622"}'
      headers:
        content-type:
          - application/json
        x-unique-id:
          - 59404386:8162_68A0400D:01BB_628A6CD5_3725EDD:4D65
      status:
        code: 400
        message: Bad Request
version: 1
