interactions:
- request:
    body: '{"name": "Jay Mcintosh", "campaign": {"campaignId": "ZyQTm"}, "email":
      "A@example.org"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.getresponse.com/v3/contacts
  response:
    body:
      string: '{"httpStatus":400,"code":1002,"codeDescription":"Resource state forbids
        that kind of action","message":"Cannot add contact that is blocked","moreInfo":"https:\/\/apidocs.getresponse.com\/en\/v3\/errors\/1002","context":[],"uuid":"33872574-96b3-4176-aff6-6a777f5e3164"}'
    headers:
      content-type:
      - application/json
      x-unique-id:
      - 59404425:9AD2_68A0400D:01BB_6205C60B_2E5BC:499C
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"name": "Jay Mcintosh", "campaign": {"campaignId": "ZyQTm"}, "email":
      "A@example.org"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.getresponse.com/v3/contacts
  response:
    body:
      string: '{"httpStatus":400,"code":1002,"codeDescription":"Resource state forbids
        that kind of action","message":"Cannot add contact that is blocked","moreInfo":"https:\/\/apidocs.getresponse.com\/en\/v3\/errors\/1002","context":[],"uuid":"a36b462d-0325-4e1b-ba1e-5216028b144c"}'
    headers:
      content-type:
      - application/json
      x-unique-id:
      - 59404425:9AD2_68A0400D:01BB_6205C621_2FC0D:499C
    status:
      code: 400
      message: Bad Request
version: 1
